<!-- FOOTER START -->
{{#> row }}
    {{spacer height="20"}}
    {{spacer height="1" bgcolor="#d3d3d3"}}
    {{spacer height="20"}}
{{/ row }}
{{#> row }}
    {{#> column size="100" style="padding: 0px 20px;" }}
        <h4>Découvrez tous nos services:</h4>
    {{/ column }}
{{/ row }}
{{#> row }}
    {{#> column size="33" style="padding: 10px 0px;" }}
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td width="50%" align="center" style="padding-bottom:10px;">
                <a href="https://www.aginsurance.be/Retail/fr/mobilite/Pages/mobilite.aspx" style="display:block"><img
                align="center"
                border="0"
                alt="Mobilité" src="images/mobility.png" title="Mobilité"
                style="outline:none; text-decoration: none;-ms-interpolation-mode: bicubic;clear: both; display:block !important; border:none; height:auto; float:none; width:100%; max-width:50px;"
                width="50" /></a>
            </td>
            <td width="50%" align="center" style="padding-bottom:10px;">
                <a href="http://www.aginsurance.be/Retail/fr/habitation/Pages/Habitation.aspx" style="display:block"><img
                    align="center"
                    border="0"
                    alt="Habitation" src="images/home.png" title="Habitation"
                    style="outline:none; text-decoration: none;-ms-interpolation-mode: bicubic;clear: both; display:block !important; border:none; height:auto; float:none; width:100%; max-width:50px;"
                    width="50" />
                    </a>
            </td>
        </tr>
        <tr>
            <td width="50%" align="center">
                <a href="https://www.aginsurance.be/Retail/fr/mobilite/Pages/mobilite.aspx" class="text text-small text-center" style="display:block">Mobilité</a>
            </td>
            <td width="50%" align="center">
                <a href="http://www.aginsurance.be/Retail/fr/habitation/Pages/Habitation.aspx" class="text text-small text-center" style="display:block">Habitation</a>
            </td>
        </tr>
    </table>
    {{/ column }}
    {{#> column size="33" style="padding: 10px 0px;" }}
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td width="50%" align="center" style="padding-bottom:10px;">
                <a href="https://www.aginsurance.be/Retail/fr/sante/Pages/Sante.aspx" style="display:block"><img
                align="center"
                border="0"
                alt="Santé" src="images/health.png" title="Santé"
                style="outline:none; text-decoration: none;-ms-interpolation-mode: bicubic;clear: both; display:block !important; border:none; height:auto; float:none; width:100%; max-width:50px;"
                width="50" />
                </a>
            </td>
            <td width="50%" align="center" style="padding-bottom:10px;">
                <a href="https://www.aginsurance.be/Retail/fr/famille/Pages/Famille.aspx" style="display:block"><img
                align="center"
                border="0"
                alt="Famille" src="images/family.png" title="Famille"
                style="outline:none; text-decoration: none;-ms-interpolation-mode: bicubic;clear: both; display:block !important; border:none; height:auto; float:none; width:100%; max-width:50px;"
                width="50" />
                </a>
        </tr>
        <tr>
            <td width="50%" align="center">
                <a href="https://www.aginsurance.be/Retail/fr/sante/Pages/Sante.aspx" class="text text-small text-center" style="display:block">Santé</a>
            </td>
            <td width="50%" align="center">
                <a href="https://www.aginsurance.be/Retail/fr/famille/Pages/Famille.aspx" class="text text-small text-center" style="display:block">Famille</a>
            </td>
        </tr>
    </table>
    {{/ column }}
    {{#> column size="33" style="padding: 10px 0px;" }}
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td width="50%" align="center" style="padding-bottom:10px;">
                <a href="https://www.aginsurance.be/Retail/fr/epargne-et-placements/Pages/epargne-et-placements.aspx" style="display:block"><img
                align="center"
                border="0"
                alt="Épargne" src="images/save.png" title="Épargne"
                style="outline:none; text-decoration: none;-ms-interpolation-mode: bicubic;clear: both; display:block !important; border:none; height:auto; float:none; width:100%; max-width:50px;"
                width="50" />
                </a>
            </td>
            <td width="50%" align="center" style="padding-bottom:10px;">
                <a href="https://www.aginsurance.be/Retail/fr/pension/Pages/pension.aspx" style="display:block"><img
                    align="center"
                    border="0"
                    alt="Pension" src="images/retirement.png" title="Pension"
                    style="outline:none; text-decoration: none;-ms-interpolation-mode: bicubic;clear: both; display:block !important; border:none; height:auto; float:none; width:100%; max-width:50px;"
                    width="50" />
                </a>
            </td>
        </tr>
        <tr>
            <td width="50%" align="center">
                <a href="https://www.aginsurance.be/Retail/fr/epargne-et-placements/Pages/epargne-et-placements.aspx" class="text text-small text-center" style="display:block">Épargne &amp;<br> Placements</a>
            </td>
            <td width="50%" align="center">
                <a href="https://www.aginsurance.be/Retail/fr/pension/Pages/pension.aspx" class="text text-small text-center" style="display:block">Pension</a>
            </td>
        </tr>
    </table>
    {{/ column }}
{{/ row }}
{{#> row }}
    {{ spacer height="20" }}
{{/ row }}
{{#> row }}
    {{#> column size="100" bgcolor="#f2f2f2" style="padding: 20px 10px 10px;" }}
    <span class="text text-xsmall">
        AG Insurance SA- Bd. E. Jacqmain 53, 1000 Bruxelles - RPM Bruxelles - <nobr>TVA BE 0404.494.849</nobr> - <a href="http://www.aginsurance.be" target="_blank">www.aginsurance.be</a> - <nobr>IBAN : BE13 2100 0007 6339</nobr> - <nobr>BIC : GEBABEBB</nobr> Entreprise d''assurance belge agréée sous code 0079, sous le contrôle de la Banque nationale de Belgique, Bd. de Berlaimont 14, 1000 Bruxelles 
    </span>
    {{/ column }}
{{/ row }}
<!-- FOOTER END -->
